@mixin Style_Mixin($grid-column,$grid-row,$selector,$tag) 
{
    #{$selector}#{$tag}
    {
        grid-column: $grid-column;
        grid-row: $grid-row;
        border: 2px solid salmon;
    }
   
}
body
{
    background: rgb(110, 187, 177);
}
.container
{
    display: grid;
    grid-template: repeat(10,1fr)/repeat(5,1fr);
    margin:5%;
    .new_game
    {
        grid-row: 1/2;
        grid-column: 2/5;
        justify-self: center;
        align-self: center;
        background: rgb(18, 195, 207);
        border: 2px solid black;
    }
    .new_game:hover
    {
        cursor:pointer;
    }
    .players
    {
        grid-row: 2/4;
        grid-column: 2/5;
        display: flex;    
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        vertical-align:middle;
        .Player1
        {
          
            padding-left: 10%;
            background: rgb(17, 226, 174);
            
        }
        .Player2
        {
            padding-right: 10%;
            background: rgb(17, 226, 174);

        }
    }
    .TicTak
    {
        grid-column: 2/5;
        grid-row: 4/-1;
        display: grid;
        background-color: rgb(14, 187, 115);
        text-align: center;
        align-items: stretch;
        justify-items: stretch;
        grid-gap: 2%;
        @include Style_Mixin(1/2,1/2,"#",id1);
        @include  Style_Mixin(2/3,1/2,"#",id2);
        @include  Style_Mixin(3/4,1/2,"#",id3);
        @include  Style_Mixin(1/2,2/3,"#",id4);
        @include  Style_Mixin(2/3,2/3,"#",id5);
        @include  Style_Mixin(3/4,2/3,"#",id6);
        @include  Style_Mixin(1/2,3/4,"#",id7);
        @include  Style_Mixin(2/3,3/4,"#",id8);
       #id9
       {
        grid-column: 3/4;
        grid-row: 3/4;
        border: 2px solid salmon;
       }

    }
    #Display_Winner
    {
        height: inherit;
        border: 10px solid black;
    }
}
